@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
--Verydarkblue : hsl(233, 47%, 7%);
--Darkdesaturatedblue : hsl(244, 38%, 16%);
--Softviolet: hsl(277, 64%, 61%);
--White : hsl(0, 0%, 100%);
--SlightlytransparentwhiteM : hsla(0, 0%, 100%, 0.75);
--SlightlytransparentwhiteS : hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}




























.footer { font-size: 11px; text-align: center; }
.footer a { color: hsl(228, 45%, 44%); }